# General
*.iml
.gradle/
/local.properties
/.idea/
/.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/

# Configuration files containing secrets
app/src/main/res/values/api_keys.xml   # Example file name for XML containing keys
app/src/main/assets/api_keys.properties   # Example file name for properties file containing keys
